@tailwind base;
@tailwind components;
@tailwind utilities;

/* styles/tailwind.css */

@keyframes rotate-scale-up {
    0% {
      transform: scale(1) rotateZ(0);
    }
    50% {
      transform: scale(2) rotateZ(180deg);
    }
    100% {
      transform: scale(1) rotateZ(360deg);
    }
  }
  
  .rotate-scale-up {
    animation: rotate-scale-up 0.65s linear both;
  }

  
#rot {
    --sb-track-color: #fdfdfd;
    --sb-thumb-color: #181918;
    --sb-size: 11px;
  }
  
  #rot::-webkit-scrollbar {
    width: var(--sb-size)
  }
  
  #rot::-webkit-scrollbar-track {
    background: var(--sb-track-color);
    border-radius: 3px;
  }
  
  #rot::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
    border-radius: 3px;
    
  }
  
  @supports not selector(::-webkit-scrollbar) {
    #rot {
      scrollbar-color: var(--sb-thumb-color)
                       var(--sb-track-color);
    }
  }
  